extends ../layout

block content
    .row
        .col-md-10.col-md-offset-1
            .page-header
                h3  CarSek 
                    small Your Car in Reach, Always!
    .row
        .col-md-8.col-md-offset-4
            img.img-rounded(src='http://placehold.it/500x300')
    .row
        .col-md-10.col-md-offset-1
            .page-header
    .row
        .col-md-3.col-md-offset-1
            .panel.panel-default
                .panel-body
                    p Lock/Unlock from Anywhere in the world!
        .col-md-3.col-md-offset-1
            .panel.panel-default
                .panel-body
                    p Fast, Secure and Always Ready!
        .col-md-3.col-md-offset-1
            .panel.panel-default
                .panel-body
                    p Get Notifications from your car on your phone!