extends ../layout

block content
    script(src="/javascript/main.js")
    .row
        .col-md-10.col-md-offset-1
            .page-header
                h3 
                    span.glyphicon.glyphicon-lock
                    =" Manage Device -"
                    span= "    "+device.title
    .row
        .col-md-4.col-md-offset-4
            br
            .alert.alert-info(style="display:none;")
            br
            .well
                button.btn.btn-success.btn-lg.btn-block(type="button") Open
                br
                button.btn.btn-danger.btn-lg.btn-block(type="button") Close
            a(href="/dashboard")
                button.btn.btn-default.pull-left Back