extends ../layout

block content
    .row
        .col-md-10.col-md-offset-1
            .page-header
                h2 
                    span.glyphicon.glyphicon-home
                    ="  Dashboard   "
                        small= "Your Devices"
    .row
        br
        br
        .col-md-8.col-md-offset-2
            - if(devices){
                ul.list-group
                    - for(var i=0;i<devices.length;i++){
                        li.list-group-item
                            a(href="/devices/#{devices[i].key}").pull-right
                                button.btn.btn-info(type="button") Manage
                            h4= devices[i].title
                    - }
            - }else{
                .well
                    h4.text-center Click New Device to Register your first device!
                    p= devices
            - }
            a(href="/devices/new")
                button.btn.btn-success New Device



