extends ../layout

block content
    .row
        .col-md-10.col-md-offset-1
            .page-header
                h3 
                    = "Manage Device - #{this.device.title}"
    .row
        .col-md-6.col-md-offset-3
            .well
                .row
                    .cold-md-6
                        a(href="/devices/#{this.device.key}?to=1")
                            button.btn.btn-success(type="button") Open
            .well
                .row
                    .cold-md-6
                        a(href="/devices/#{this.device.key}?to=0")
                            button.btn.btn-danger(type="button") Close