doctype html
html
    head
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        link(rel="stylesheet", type="text/css", href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
        link(rel="stylesheet", type="text/css", href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    body
        .container-fluid
            block content
            nav.navbar.navbar-fixed-bottom(role='navigation', style="box-shadow: 0px -8px 20px rgba(0, 0, 0, 0.4);")
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href='/')
                            img.img-rounded(src="/images/casek.png", style="width:30%;height:100%;")
                        p.navbar-text.navbar-right WebDevelopment by CMEV
                    a(href="/devices")
                        button.btn.btn-info.navbar-btn.navbar-right(type='button') Devices